<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs'); %>
        <link href="/styles/productEdit-styles.css" rel="stylesheet">
        <title>Numpy - Edicion de Producto</title>
</head>

<body>
    <header>
        <%- include('./partials/headerLogged.ejs'); %>
    </header>

    <main>
        <!--Seccion 1: titulos principales-->
        <div class="seccion-titulos-principales">
            <img class="bola-rosa" src="/images/bolita_rosa.png" alt="bolita rosa">
            <p class="subtitulo-principal">¡Gracias Grupo 7!</p>
            <h1 class="titulo-principal">Modifica los datos de tu producto.</h1>
            <hr class="titulos-linea">
            <img class="bola-verde" src="/images/bolita_verde.png" alt="bolita verde">
        </div>
        <!--Seccion 2: Carga de productos-->
        <form class="seccion-detalles-producto seccion-detalles-producto-1"
            action="/product/productEdit/<%=product.id %>" method="POST" enctype="multipart/form-data"
            id="productEditForm" name="productEditForm">
            <img class="imagen-producto" src="/images/products/<%= product.image_11 %> " alt="<%= product.name %>">
            <div class="titulo-linea">
                <h2 class="titulo-producto">Nombre del producto</h2>
                <hr class="linea-producto">
                <div class="caja-producto" id="grupo__name">
                    <p class="caja-tick">✅</p>
                    <label for="name" method="POST" class="formulario__label"></label>
                    <input type="text" class="formulario__input caja-texto"  required placeholder="Ej: Mouse Razer" name="name" id="id__name" value="<%= product.name%>">
                    <p class="formulario__input-error">Este campo es obligatorio, se debe ingresar al menos 5 dígitos y solo puede contener numeros, letras y guion bajo</p>
                </div>
            <div class="titulo-linea">
                <h2 class="titulo-producto">Categoría producto</h2>
                <hr class="linea-producto">
                <div class="caja-producto">
                    <p class="caja-tick">✅</p>
                    <label for="category" method="POST"></label>
                    <select class="caja-texto" name="category" id="category" required>
                        <option value="<%= product.category %> " disabled> Seleccionar una opcion</option>
                        <option value="<%= product.category_id%> " > <%= product.category_id%> </option>
                        
                        <option value="1" <%=product.category_id==='1' ? 'selected' : '' %> >Mouse</option>
                        <option value="2" <%=product.category_id==='2' ? 'selected' : '' %> >Teclado</option>
                        <option value="3" <%=product.category_id==='3' ? 'selected' : '' %> >Monitor</option>
                        <option value="4" <%=product.category_id==='4' ? 'selected' : '' %> >Silla</option>
                        <option value="5" <%=product.category_id==='5' ? 'selected' : '' %> >Procesador</option>
                        <option value="6" <%=product.category_id==='6' ? 'selected' : '' %> >Combo</option>
                        
                        
                    </select>
                </div>
                <!--Seccion 3: Carga de productos sub-seccion -->
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Marca</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto">
                        <p class="caja-tick">✅</p>
                        <label for="brand" method="POST"></label>
                        <select class="caja-texto" name="brand" id="brand" required>
                            <option value="<%= product.brand%> " disabled> Seleccionar una opcion</option>
                            <option value="<%= product.brand_id%> " selected> <%= product.brand_id%> </option>

                            <option value="6" <%=product.brand_id==='6' ? 'selected' : '' %> >Acer</option>
                            <option value="11" <%=product.brand_id==='11' ? 'selected' : '' %> >AMD</option>
                            <option value="5" <%=product.brand_id==='5' ? 'selected' : '' %> >Asus</option>
                            <option value="19" <%=product.brand_id==='19' ? 'selected' : '' %> >Apple</option>
                            <option value="9" <%=product.brand_id==='9' ? 'selected' : '' %> >Cougar</option>
                            <option value="2" <%=product.brand_id==='2' ? 'selected' : '' %> >Corsair</option>
                            <option value="14" <%=product.brand_id==='14' ? 'selected' : '' %> >Dell</option>
                            <option value="8" <%=product.brand_id==='8' ? 'selected' : '' %> >Dx Racer
                            </option>
                            <option value="15" <%=product.brand_id==='15' ? 'selected' : '' %> >HP</option>
                            <option value="12" <%=product.brand_id==='12' ? 'selected' : '' %> >Intel</option>
                            <option value="4" <%=product.brand_id==='4' ? 'selected' : '' %> >Logitech
                            </option>
                            <option value="18" <%=product.brand_id==='18' ? 'selected' : '' %> >LG</option>
                            <option value="16" <%=product.brand_id==='16' ? 'selected' : '' %> >Lenovo</option>
                            <option value="13" <%=product.brand_id==='13' ? 'selected' : '' %> >MSI</option>
                            <option value="3" <%=product.brand_id==='3' ? 'selected' : '' %> >Mountain
                            </option>
                            <option value="10" <%=product.brand_id==='10' ? 'selected' : '' %> >Newskill
                            </option>
                            <option value="1" <%=product.brand_id==='1' ? 'selected' : '' %> >Razer</option>
                            <option value="7" <%=product.brand_id==='7' ? 'selected' : '' %> >Samsung</option>
                            <option value="20" <%=product.brand_id==='20' ? 'selected' : '' %> >Sony</option>
                            <option value="17" <%=product.brand_id==='17' ? 'selected' : '' %> >Toshiba</option>
                        </select>
                    </div>
                </div>
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Modelo</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto">
                        <p class="caja-tick">✅</p>
                        <label for="model" method="POST"></label>
                        <input type="text" id="model" name="model" value="<%= product.model%>" class="caja-texto"
                            required>
                    </div>
                </div>
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Procesador</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto">
                        <p class="caja-tick">✅</p>
                        <label for="proccesor" method="POST"></label>
                        <select class="caja-texto" name="processor" id="processor" required>
                            <option value="<%= product.processor %> " disabled> Seleccionar una opcion</option>
                            <option value="<%= product.processor%> " selected> <%= product.processor%> </option>

                            <option value="i9" <%=product.processor==='i9' ? 'selected' : '' %>>i9</option>
                            <option value="i7" <%=product.processor==='i7' ? 'selected' : '' %>>i7</option>
                            <option value="i5" <%=product.processor==='i5' ? 'selected' : '' %>>i5</option>
                            <option value="i3" <%=product.processor==='i3' ? 'selected' : '' %>>i3</option>
                            <option value="ryzen7" <%=product.processor==='ryzen7' ? 'selected' : '' %>>Ryzen7</option>
                            <option value="ryzen5" <%=product.processor==='ryzen5' ? 'selected' : '' %>>Ryzen5</option>
                            <option value="ryzen3" <%=product.processor==='ryzen3' ? 'selected' : '' %>>Ryzen3</option>
                            <option value="NA" <%=product.processor==='NA' ? 'selected' : '' %>>No aplica</option>

                        </select>
                    </div>
                </div>
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Memoria</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto">
                        <p class="caja-tick">✅</p>
                        <label for="memory" method="POST"></label>
                        <select class="caja-texto" name="memory" id="memory" required>
                            <option value="<%= product.memory %>" disabled> Seleccionar una opcion</option>
                            <option value="<%= product.memory%> " selected> <%= product.memory%> </option>

                            <option value="4gb" <%=product.memory==='4gb' ? 'selected' : '' %>>4GB</option>
                            <option value="8gb" <%=product.memory==='8gb' ? 'selected' : '' %>>8GB</option>
                            <option value="16gb" <%=product.memory==='16gb' ? 'selected' : '' %>>16GB</option>
                            <option value="32gb" <%=product.memory==='32gb' ? 'selected' : '' %>>32GB</option>
                            <option value="64gb" <%=product.memory==='64gb' ? 'selected' : '' %>>64GB</option>
                            <option value="128gb" <%=product.memory==='12gb' ? 'selected' : '' %>>128GB</option>
                            <option value="NA" <%=product.memory==='NA' ? 'selected' : '' %>>No aplica</option>

                            
                        </select>
                    </div>
                </div>
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Disco duro</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto">
                        <p class="caja-tick">✅</p>
                        <label for="storage" method="POST"></label>
                        <select class="caja-texto" name="storage" id="storage" required>
                            <option value="<%= product.storage %>" disabled> Seleccionar una opcion</option>
                            <option value="<%= product.storage%> " selected> <%= product.storage%> </option>

                            <option value="128gb" <%=product.storage==='128gb' ? 'selected' : '' %> >128 GB</option>
                            <option value="256gb" <%=product.storage==='256gb' ? 'selected' : '' %> >256 GB</option>
                            <option value="512gb" <%=product.storage==='512gb' ? 'selected' : '' %> >512 GB</option>
                            <option value="1tb" <%=product.storage==='1tb' ? 'selected' : '' %> >1 TB</option>
                            <option value="2tb" <%=product.storage==='2tb' ? 'selected' : '' %> >2 TB</option>
                            <option value="NA" <%=product.storage==='NA' ? 'selected' : '' %> >No aplica</option>
                        </select>
                    </div>
                </div>
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Descripción</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto caja-producto-descripcion" id="grupo__description">
                        <p class="caja-tick">✅</p>
                        <label for="description" method="POST" class="formulario__label"></label>
                        <textarea class="caja-texto formulario__input" name="description" id="description" type="text" maxlength="1000"
                            required>
                                <%= product.description %>
                            </textarea>
                            <p class="formulario__input-error">La descripcion de producto debe ser de al menos 20 caracteres.</p>
                        <img src="/images/lapiz_edicion.png" alt="Editar imagen">
                    </div>
                </div>
            </div>

            <!--Seccion 4: Carga de fotos -->
            <div class="seccion-detalles-producto-2">
                <h2 class="titulo-producto titulo-producto-2">Fotos</h2>
                <hr class="linea-producto linea-producto-2">
                <div class="seccion-carga-fotos">
                    
                    <label  for="imagenesProducto" class="formulario__label"></label>
                    <input type="file" name="image_11" required class="formulario__input" id="image_1" onchange="return validarExt()">
                    
                    <input type="file" name="image_12" id="image_2" onchange="return validarExt2()">
                    
                    <input type="file" name="image_13" id="image_3" onchange="return validarExt3()">
                    <!--<div id="visorArchivo"></div>
                    <div id="visorArchivo2"></div>
                    <div id="visorArchivo3"></div>-->

                    <img id="visorArchivo" class="imagen-producto-2" src="/images/products/<%= product.image_11 %> "
                        alt="<%= product.name %>">
                    <img  id="visorArchivo2" class="imagen-producto-2" src="/images/products/<%= product.image_12 %> "
                        alt="<%= product.name %>">
                    <img  id="visorArchivo3" class="imagen-producto-2" src="/images/products/<%= product.image_13 %> "
                        alt="<%= product.name %>">

                </div>
            </div>
            </div>
            <!--Seccion 5: Carga de precio -->
            <div class="seccion-detalles-producto-2 seccion-detalles-producto-3">
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Precio por unidad</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto-2">
                        <p class="caja-tick">✅</p>
                        <label for="price" method="POST">
                            $
                        </label>
                        <input class="caja-texto" type="number" name="price" id="price"
                            value="<%= product.price_current %>" required>
                    </div>
                </div>
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Precio con descuento por unidad</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto-2">
                        <p class="caja-tick">✅</p>
                        <label for="discount" method="POST">
                            $
                        </label>
                        <input class="caja-texto" type="number" name="priceDiscount" id="discount"
                            value="<%= product.price_discount %>" required>
                    </div>
                </div>
                <div class="titulo-linea">
                    <h2 class="titulo-producto">Inventario a la venta</h2>
                    <hr class="linea-producto">
                    <div class="caja-producto-2">
                        <p class="caja-tick">✅</p>
                        <label for="stock" method="POST">
                        </label>
                        <input class="caja-texto" type="number" name="stock" id="stock" value="<%= product.stock %>"
                            required>
                    </div>
                </div>

                <!--Seccion 6: Final -->
                <div class="final-general">
                    <p class="final-titulo">¿Ya todo revisado?</p>
                    <button type="submit">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span>Enviar</span>
                    </button>
        </form>
        <form action="/product/delete/<%= product.id %>?_method=DELETE" method="POST">
            <button type="submit">
                <img class="basurero" src="/images/basura.png" alt="basuero">
                <span>Eliminar producto</span>
            </button>
        </form>

        <img class="bola-rosa-2" src="/images/bolita_rosa.png" alt="Bola rosa">
        <img class="bola-verde-2" src="/images/bolita_verde.png" alt="Bola verde">
        </div>

    </main>
    <script type="text/javascript" src="/js/productEdit.js"></script>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>

</html>