<head>
    <%- include('./partials/head.ejs'); %>
    <link href="/styles/productList-styles.css" rel="stylesheet">
</head>
<header>
    <% if(isAuthenticated) { %> 
        <%- include('./partials/headerLogged.ejs'); %>
    <% } else {%> 
    
        <%- include('./partials/header.ejs'); %>
    <% } %> 
</header>
<body>
    <div class="bolita-div">
        <img class="bolita" src="/images/bolita_verde.png">
    </div>

<h1 class="titulo">Listado de productos</h1>
<ul class="Lista">
    <% for (let i = 0; i < product.length; i++) { %>
        <div class="div-lista">
            
            <img class="imagenes-productos" src="/images/products/<%= product[i].image_11 %> "  alt="<%= product[i].name %>">
            <p class="categoria-producto"><%= product[i].category_id%></p>

            <% if(isAuthenticated) { %> 
                <li class="Listax">
                    <a href="/product/productEdit/<%=product[i].id%> ">
                    <%=product[i].name %>
                    </a>
                </li>
            <% } else {%> 
            
                <li class="Listax">
                    <a href="/product/productDetail/<%=product[i].id%> ">
                    <%=product[i].name %>
                    </a>
                </li>
            <% } %> 


            
        </div>
        <%  } %> 
</ul>
</body>
<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>