<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="/styles/productCart-styles.css" rel="stylesheet" >
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <header class="main-header">
           <%- include('./partials/headerLogged.ejs'); %> 
    </header>
<main class="first-main">

    <div class="contain-one">
        <section class="section">
            <ul class="buttons">
                <li class="item">
                    <a class="caracteristic" aria-current="page" href="#">Carrito (1)</a>
                </li>
                <li class="item">
                    <a class="caracteristic" aria-current="page" href="#">Guardados (0)</a>
                </li>
            </ul>
        </section>
        <section class="option">
            <img class="cpu" src="/images/producto_cpu.webp" alt="producto-cpu">
            <div class="order">
                <div class="tittles">
                    <p class="name">Combo de CPU</p>
                    <img class="car" src="/images/producto_camion.png" alt="camion" >
                    <p class="send-info">Envio gratis</p>
                </div>
                <div class="sum">
                    <button class="more"> + </button>
                    <!-- <p class="change"> 1</p> -->
                    <div class="change">
                        <input class="quantity" value="1" type="text" name="user" placeholder="1" >
                        <!-- <textarea name="textarea" rows="1" cols="1">1</textarea> -->
                    </div>
                    <button class="rest"> - </button>
                </div>
                <p class="price">$30.000</p>
            </div>
        </section>
        <form class="option-desc"  method="PUT">
            <ul class="buttons-two">
                <li class="item">
                    <button type="submit" class="remove" aria-current="page" href="#" >Eliminar</button>
                    
                </li>
                <li class="item">
                    <a href="productList">
                    <button type="button" class="relation" aria-current="page" href="#">Mas productos del vendedor</button>
                    </a>
                    
                </li>
                <li class="item">
                    <button type="submit" class="send" aria-current="page" href="#">Guardar para despues</button>
                </li>
            </ul>
        </form>
        <section class="info">
            <div class="choices">
                <p class="live">Envio a lorem impsum, Barrio</p>
                <!-- <a class="option-live" href=""> <img class="slice" src="/images/producto_flecha_azul.png" alt="flecha-azul"></a> -->
                <select class="option-live" name = "" src="/images/producto_flecha_azul.png">
                    <optgroup label="CABA">
                        <option class="city" > Palermo</option>
                        <option class="city" > Cabildo</option>
                    </optgroup>
                    <optgroup label="Tigre">
                        <option class="city">Gral Pacheco</option>
                        <option class="city">Ricardo Rojas</option>
                    </optgroup>
                    <optgroup label="Escobar">
                        <option class="city">El Cazador</option>
                        <option class="city"> Garin</option>
                    </optgroup>
                    <optgroup label="Pilar">
                        <option class="city"> Villa Rosa</option>
                        <option class="city"> Zelaya </option>
                    </optgroup>
                </select>
                <p class="option">Gratis</p>
            </div>
            <div class="paying">
                <p class="total">Total con envio</p>
                <p class="price-finale">$30,000</p>
            </div>
        </section>
        <section class="continue">
                <a href="/">
                <button type="submit" class="first"><img class="white-car" src="/images/carrito_camion.png">
                <p class="first">Terminar Compra </p>
                </button>
                </a>
        </section>

    </div>

    <div class="contain-two">
        <h3 class="new-seccion">Recomendaciones para vos</h3>
         <div class="publication">
            <% mouse.forEach(product => { %>
            <a href="productDetail/1">
            <article class="product-seller" >
                <div class="decoration">
                    <p class="desc"> 10% OFF</p>
                    <img class="heart-with" src="/images/corazon.png" alt="blue-heart">
                </div>
                <img class="volante" src="/images/products/<%= product.image_11 %> " alt="<%= product.name %> ">

                <div class="contain-price">
                    <p class="previous-col8"><del>$ <%= product.price_current %></del> </p>
                    <p class="price-col8">$ <%= product.price_discount %></p>
                    <p class="description-col8"><%= product.name %> </p>
                </div>
            </article>
        </a>
            <%  }) %>
            <% teclado.forEach(product => { %>
                <a href="productDetail/4">
            <article class="product-seller-two">
                <div class="decoration">
                <img class="heart-without" src="/images/corazon.png" alt="blue-heart">
            </div>
                <img class="volante" src="/images/products/<%= product.image_11 %> " alt="<%= product.name %>">

                <div class="contain-price">
                    <p class="previous-col8"><del>$ <%= product.price_current %></del> </p>
                    <p class="price-col8">$ <%= product.price_discount %></p>
                    <p class="description-col8"><%= product.name %></p>
                </div>
            </article>
            </a>
            <%  }) %>

            <% monitor.forEach(product => { %>
                <a href="productDetail/7">
                <article class="product-seller-two">
                    <div class="decoration">
                    <img class="heart-without" src="/images/corazon.png" alt="blue-heart">
                </div>
                    <img class="volante" src="/images/products/<%= product.image_11 %> " alt="<%= product.name %>">
    
                    <div class="contain-price">
                        <p class="previous-col8"><del>$ <%= product.price_current %></del> </p>
                        <p class="price-col8">$ <%= product.price_discount %></p>
                        <p class="description-col8"><%= product.name %></p>
                    </div>
                </article>
            </a>
            <%  }) %>
            <a href="productList">
            <button class="more-option">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front"> <img class="flechaAzul" src="/images/producto_flecha_azul.png" alt="flecha-azul">
                </span>
              </button>
              </a>
         </div>
    </div>
    <div class="contain-three">
        <h3 class="new-seccion-two">Ofertas</h3>
        <div class="col-lil8">
            <section class="anuncio">
                <p class="promotion">Productos destacados de esta semana</p>
                <a href="productList">
                <button class="new-product">Ver todas <img class="flechita-azul" src="/images/producto_flecha_azul.png"></button>
                </a>
                <img class="joystick" src="/images/carrito_controles.png" alt="controles">
            </section>
            <section class="product">
            <% silla.forEach(product =>{ %>
                <a href="productDetail/10">
                <article class="product-info">
                    <img class="game-chair" src="/images/products/<%= product.image_12 %>" alt="<%= product.name %> ">
                    <!-- <img src="/images/corazon.png" alt="heart">-->
                    <div class="col-lil4">
                        <p class="previous-col4"><del>US$ <%= product.price_current %>  </del> </p>
                        <span class="col-min">
                            <p class="price-col4">US$ <%= product.price_discount %></p>
                            <p class="off-col4">10% OFF</p>
                        </span>
                        <p class="cuotas">12 x $3,000 sin interes</p>
                        <p class="description-col4"> <%= product.name %></p>
                    </div>
                </article>
                </a>
            
            <% }) %> 

            <% monitor.forEach(product =>{ %> 
                <a href="productDetail/7">
                <article class="product-info">
                    <img class="game-chair" src="/images/products/<%= product.image_12 %>" alt="<%= product.name %> ">
                    <!-- <img src="/images/corazon.png" alt="heart">-->
                    <div class="col-lil4">
                        <p class="previous-col4"><del>US$ <%= product.price_current %>  </del> </p>
                        <span class="col-min">
                            <p class="price-col4">US$ <%= product.price_discount %></p>
                            <p class="off-col4">10% OFF</p>
                        </span>
                        <p class="cuotas">12 x $3,000 sin interes</p>
                        <p class="description-col4"> <%= product.name %></p>
                    </div>
                </article>
                </a>
            <% }) %> 
            </section>
            <section class="product-two">
                <% silla.forEach(product =>{ %> 
                    <a href="productDetail/10">
                    <article class="product-info">
                        <img class="game-chair" src="/images/products/<%= product.image_13 %>" alt="<%= product.name %> ">
                        <!-- <img src="/images/corazon.png" alt="heart">-->
                        <div class="col-lil4">
                            <p class="previous-col4"><del>US$ <%= product.price_current %>  </del> </p>
                            <span class="col-min">
                                <p class="price-col4">US$ <%= product.price_discount %></p>
                                <p class="off-col4">10% OFF</p>
                            </span>
                            <p class="cuotas">12 x $3,000 sin interes</p>
                            <p class="description-col4"> <%= product.name %></p>
                        </div>
                    </article>
                </a>
                <% }) %> 

                <% monitor.forEach(product =>{ %> 
                    <a href="productDetail/10">
                    <article class="product-info">
                        <img class="game-chair" src="/images/products/<%= product.image_11 %>" alt="<%= product.name %> ">
                        <!-- <img src="/images/corazon.png" alt="heart">-->
                        <div class="col-lil4">
                            <p class="previous-col4"><del>US$ <%= product.price_current %>  </del> </p>
                            <span class="col-min">
                                <p class="price-col4">US$ <%= product.price_discount %></p>
                                <p class="off-col4">10% OFF</p>
                            </span>
                            <p class="cuotas">12 x $3,000 sin interes</p>
                            <p class="description-col4"> <%= product.name %></p>
                        </div>
                    </article>
                    </a>
                <% }) %> 
                </article>
            </section>
        </div>
    </div>
</main>
<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>
</body>
</html>