<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/styles/user-detail.css" rel="stylesheet">
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <header>
        <% if(isAuthenticated) { %> 
            <%- include('./partials/headerLogged.ejs'); %>
        <% } else {%> 
        
            <%- include('./partials/header.ejs'); %>
        <% } %> 
    </header>
    <main>
        <div>
            <img src="/images/users/<%= user.picture_id %>" alt="<%= user.name %>">
        </div>
        <div>
            <p class="name"><%= user.name %></p>
            <p class="email"><%= user.email %></p>
    </main>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>